@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 100%;
}

.normal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c9f0f8;
}
.normal .iframe-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.normal .iframe-container .content {
  z-index: 90;
  position: absolute;
  top: 100px;
  right: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px #ffffff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.normal .iframe-container .content h1 {
  font-size: 4rem;
}
.normal .iframe-container .content p {
  font-size: 1.7rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .normal .iframe-container .content {
    z-index: 90;
    position: absolute;
    top: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .normal .iframe-container .content h1 {
    font-size: 2.2rem;
  }
  .normal .iframe-container .content p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.normal .iframe-container .sketchfab-embed-wrapper {
  width: 100%;
  border: none;
  height: 100%;
}
.normal .iframe-container .sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 900px) {
  .normal .iframe-container .sketchfab-embed-wrapper iframe {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.normal #accesibilityBtn {
  pointer-events: all;
}
.normal .accesibilityPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.normal footer {
  background-color: #8fe1ef;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.normal #accesibilityBtn {
  width: 80px;
  height: 80px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  background-color: #03045e;
  color: white;
  border: none;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  transition: 0.3s;
}
.normal #accesibilityBtn:hover {
  background-color: #0072ed;
}
.normal .form-inputs {
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #8fe1ef;
  padding: 70px;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.normal .form-inputs h1 {
  font-size: 3rem;
}
.normal .form-inputs input[type=text],
.normal .form-inputs input[type=password],
.normal .form-inputs input[type=email] {
  border: none;
  padding: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.normal .form-inputs select {
  border-radius: 10px;
  border: none;
  padding: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  font-size: 1.4rem;
}
.normal .btn {
  background-color: #03045e;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.normal .btn:hover {
  background-color: #0072ed;
}
.normal .login-btn {
  background-color: #8fe1ef;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.normal .login-btn:hover {
  background-color: #0072ed;
}

.grayscale {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e0e0e0;
}
.grayscale .iframe-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.grayscale .iframe-container .content {
  z-index: 90;
  position: absolute;
  top: 100px;
  right: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px #ffffff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.grayscale .iframe-container .content h1 {
  font-size: 4rem;
}
.grayscale .iframe-container .content p {
  font-size: 1.7rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .grayscale .iframe-container .content {
    z-index: 90;
    position: absolute;
    top: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .grayscale .iframe-container .content h1 {
    font-size: 2.2rem;
  }
  .grayscale .iframe-container .content p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.grayscale .iframe-container .sketchfab-embed-wrapper {
  width: 100%;
  border: none;
  height: 100%;
}
.grayscale .iframe-container .sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 900px) {
  .grayscale .iframe-container .sketchfab-embed-wrapper iframe {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.grayscale #accesibilityBtn {
  pointer-events: all;
}
.grayscale .accesibilityPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.grayscale footer {
  background-color: #bfbfbf;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.grayscale #accesibilityBtn {
  width: 80px;
  height: 80px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  background-color: #303030;
  color: white;
  border: none;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  transition: 0.3s;
}
.grayscale #accesibilityBtn:hover {
  background-color: #adadad;
}
.grayscale .form-inputs {
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #bfbfbf;
  padding: 70px;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.grayscale .form-inputs h1 {
  font-size: 3rem;
}
.grayscale .form-inputs input[type=text],
.grayscale .form-inputs input[type=password],
.grayscale .form-inputs input[type=email] {
  border: none;
  padding: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.grayscale .form-inputs select {
  border-radius: 10px;
  border: none;
  padding: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  font-size: 1.4rem;
}
.grayscale .btn {
  background-color: #303030;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.grayscale .btn:hover {
  background-color: #adadad;
}
.grayscale .login-btn {
  background-color: #bfbfbf;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.grayscale .login-btn:hover {
  background-color: #adadad;
}

.highcontrast {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6fdfe;
}
.highcontrast .iframe-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.highcontrast .iframe-container .content {
  z-index: 90;
  position: absolute;
  top: 100px;
  right: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px #ffffff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.highcontrast .iframe-container .content h1 {
  font-size: 4rem;
}
.highcontrast .iframe-container .content p {
  font-size: 1.7rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .highcontrast .iframe-container .content {
    z-index: 90;
    position: absolute;
    top: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .highcontrast .iframe-container .content h1 {
    font-size: 2.2rem;
  }
  .highcontrast .iframe-container .content p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.highcontrast .iframe-container .sketchfab-embed-wrapper {
  width: 100%;
  border: none;
  height: 100%;
}
.highcontrast .iframe-container .sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 900px) {
  .highcontrast .iframe-container .sketchfab-embed-wrapper iframe {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.highcontrast #accesibilityBtn {
  pointer-events: all;
}
.highcontrast .accesibilityPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.highcontrast footer {
  background-color: #a9fbfd;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.highcontrast #accesibilityBtn {
  width: 80px;
  height: 80px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  background-color: #00002a;
  color: white;
  border: none;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  transition: 0.3s;
}
.highcontrast #accesibilityBtn:hover {
  background-color: #0072ed;
}
.highcontrast .form-inputs {
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #a9fbfd;
  padding: 70px;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.highcontrast .form-inputs h1 {
  font-size: 3rem;
}
.highcontrast .form-inputs input[type=text],
.highcontrast .form-inputs input[type=password],
.highcontrast .form-inputs input[type=email] {
  border: none;
  padding: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.highcontrast .form-inputs select {
  border-radius: 10px;
  border: none;
  padding: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  font-size: 1.4rem;
}
.highcontrast .btn {
  background-color: #00002a;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.highcontrast .btn:hover {
  background-color: #0072ed;
}
.highcontrast .login-btn {
  background-color: #a9fbfd;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.highcontrast .login-btn:hover {
  background-color: #0072ed;
}

.lowcontrast {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #91d3ea;
}
.lowcontrast .iframe-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lowcontrast .iframe-container .content {
  z-index: 90;
  position: absolute;
  top: 100px;
  right: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px #ffffff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lowcontrast .iframe-container .content h1 {
  font-size: 4rem;
}
.lowcontrast .iframe-container .content p {
  font-size: 1.7rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .lowcontrast .iframe-container .content {
    z-index: 90;
    position: absolute;
    top: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .lowcontrast .iframe-container .content h1 {
    font-size: 2.2rem;
  }
  .lowcontrast .iframe-container .content p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.lowcontrast .iframe-container .sketchfab-embed-wrapper {
  width: 100%;
  border: none;
  height: 100%;
}
.lowcontrast .iframe-container .sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 900px) {
  .lowcontrast .iframe-container .sketchfab-embed-wrapper iframe {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.lowcontrast #accesibilityBtn {
  pointer-events: all;
}
.lowcontrast .accesibilityPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.lowcontrast footer {
  background-color: #81b0d0;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.lowcontrast #accesibilityBtn {
  width: 80px;
  height: 80px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  background-color: #080a7b;
  color: white;
  border: none;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  transition: 0.3s;
}
.lowcontrast #accesibilityBtn:hover {
  background-color: #0072ed;
}
.lowcontrast .form-inputs {
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #81b0d0;
  padding: 70px;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.lowcontrast .form-inputs h1 {
  font-size: 3rem;
}
.lowcontrast .form-inputs input[type=text],
.lowcontrast .form-inputs input[type=password],
.lowcontrast .form-inputs input[type=email] {
  border: none;
  padding: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.lowcontrast .form-inputs select {
  border-radius: 10px;
  border: none;
  padding: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  font-size: 1.4rem;
}
.lowcontrast .btn {
  background-color: #080a7b;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.lowcontrast .btn:hover {
  background-color: #0072ed;
}
.lowcontrast .login-btn {
  background-color: #81b0d0;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.lowcontrast .login-btn:hover {
  background-color: #0072ed;
}

.highsaturation {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c2f4ff;
}
.highsaturation .iframe-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.highsaturation .iframe-container .content {
  z-index: 90;
  position: absolute;
  top: 100px;
  right: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px #ffffff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.highsaturation .iframe-container .content h1 {
  font-size: 4rem;
}
.highsaturation .iframe-container .content p {
  font-size: 1.7rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .highsaturation .iframe-container .content {
    z-index: 90;
    position: absolute;
    top: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .highsaturation .iframe-container .content h1 {
    font-size: 2.2rem;
  }
  .highsaturation .iframe-container .content p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.highsaturation .iframe-container .sketchfab-embed-wrapper {
  width: 100%;
  border: none;
  height: 100%;
}
.highsaturation .iframe-container .sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 900px) {
  .highsaturation .iframe-container .sketchfab-embed-wrapper iframe {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.highsaturation #accesibilityBtn {
  pointer-events: all;
}
.highsaturation .accesibilityPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.highsaturation footer {
  background-color: #7febff;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.highsaturation #accesibilityBtn {
  width: 80px;
  height: 80px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  background-color: #000061;
  color: white;
  border: none;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  transition: 0.3s;
}
.highsaturation #accesibilityBtn:hover {
  background-color: #0072ed;
}
.highsaturation .form-inputs {
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #7febff;
  padding: 70px;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.highsaturation .form-inputs h1 {
  font-size: 3rem;
}
.highsaturation .form-inputs input[type=text],
.highsaturation .form-inputs input[type=password],
.highsaturation .form-inputs input[type=email] {
  border: none;
  padding: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.highsaturation .form-inputs select {
  border-radius: 10px;
  border: none;
  padding: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  font-size: 1.4rem;
}
.highsaturation .btn {
  background-color: #000061;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.highsaturation .btn:hover {
  background-color: #0072ed;
}
.highsaturation .login-btn {
  background-color: #7febff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.highsaturation .login-btn:hover {
  background-color: #0072ed;
}

.lowsaturation {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #d5e8ec;
}
.lowsaturation .iframe-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lowsaturation .iframe-container .content {
  z-index: 90;
  position: absolute;
  top: 100px;
  right: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px #ffffff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lowsaturation .iframe-container .content h1 {
  font-size: 4rem;
}
.lowsaturation .iframe-container .content p {
  font-size: 1.7rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .lowsaturation .iframe-container .content {
    z-index: 90;
    position: absolute;
    top: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .lowsaturation .iframe-container .content h1 {
    font-size: 2.2rem;
  }
  .lowsaturation .iframe-container .content p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.lowsaturation .iframe-container .sketchfab-embed-wrapper {
  width: 100%;
  border: none;
  height: 100%;
}
.lowsaturation .iframe-container .sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 900px) {
  .lowsaturation .iframe-container .sketchfab-embed-wrapper iframe {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.lowsaturation #accesibilityBtn {
  pointer-events: all;
}
.lowsaturation .accesibilityPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.lowsaturation footer {
  background-color: #a8cfd6;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.lowsaturation #accesibilityBtn {
  width: 80px;
  height: 80px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  background-color: #1b1b46;
  color: white;
  border: none;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  transition: 0.3s;
}
.lowsaturation #accesibilityBtn:hover {
  background-color: #0072ed;
}
.lowsaturation .form-inputs {
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #a8cfd6;
  padding: 70px;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.lowsaturation .form-inputs h1 {
  font-size: 3rem;
}
.lowsaturation .form-inputs input[type=text],
.lowsaturation .form-inputs input[type=password],
.lowsaturation .form-inputs input[type=email] {
  border: none;
  padding: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
}
.lowsaturation .form-inputs select {
  border-radius: 10px;
  border: none;
  padding: 10px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  font-size: 1.4rem;
}
.lowsaturation .btn {
  background-color: #1b1b46;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.lowsaturation .btn:hover {
  background-color: #0072ed;
}
.lowsaturation .login-btn {
  background-color: #a8cfd6;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}
.lowsaturation .login-btn:hover {
  background-color: #0072ed;
}/*# sourceMappingURL=index.css.map */