$background: #c9f0f8;
$secondary: #8fe1ef;
$primary: #03045e;
$primary-hover: #0072ed;
$header-bg: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 35%,
  rgba(0, 1, 106, 1) 100%
);
$link-hover-bg: rgba(255, 255, 255, 0.2);
$shadow: drop-shadow(1px 3px 5px #00000028);
$font-family: "Inter", sans-serif;
$padding-lg: 70px;
$padding-md: 15px;
$padding-sm: 10px;
$padding-btn: 10px 20px;
$screen-md: 768px;
$logo-h: 65px;

