* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c9f0f8;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 1, 106) 100%);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .navbar {
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1568627451));
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-inline: 15px;
}
header .navbar .logo {
  height: 65px;
}
header .navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
}
header .navbar .nav-links li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background 0.3s;
  font-size: 16pt;
}
header .navbar .nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
@media (max-width: 768px) {
  header .navbar .nav-links {
    display: none;
  }
}
header .navbar .btn-login {
  background-color: #8fe1ef;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  transition: background 0.3s;
}
header .navbar .btn-login:hover {
  background-color: #0072ed;
}
header .navbar #dropdown {
  display: none;
}
@media (max-width: 768px) {
  header .navbar #dropdown {
    display: block;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}

footer {
  background-color: #8fe1ef;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.iframe-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iframe-container .content {
  z-index: 90;
  position: absolute;
  top: 100px;
  right: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px #ffffff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.iframe-container .content h1 {
  font-size: 50pt;
}
.iframe-container .content p {
  font-size: 20pt;
  font-weight: bold;
}
@media (max-width: 768px) {
  .iframe-container .content {
    z-index: 90;
    position: absolute;
    top: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px #ffffff;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .iframe-container .content h1 {
    font-size: 30pt;
  }
  .iframe-container .content p {
    font-size: 13pt;
    font-weight: bold;
  }
}
.iframe-container .sketchfab-embed-wrapper {
  width: 100%;
  border: none;
  height: 100%;
}
.iframe-container .sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 768px) {
  .iframe-container .sketchfab-embed-wrapper iframe {
    padding-left: 0px;
    padding-right: 0px;
  }
}/*# sourceMappingURL=index.css.map */